@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Serif+Hebrew:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
    --border-color: rgb(223, 188, 111);
    --border-col-color: black;
    --background-color: rgb(253, 242, 208);
    --background-data-color: rgb(251, 230, 207);
    --btn-color: rgb(128, 171, 245);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

img {
    width: 400px;
}

.infoDiv {
    width:100%;
    padding: 5px;
    margin: 10px;
    text-align: start;
}

.infoDiv ul {
    list-style: none;
}

.infoDiv li {
    margin-left: 20px;

}

.infoDiv .list ul {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.infoDiv .list ul li {
    display: flex;
    margin: 0.3rem;
}

/* https://markheath.net/post/css-comma-separated-list */
.infoDiv .list ul li:after {

    content: ",";
}

.infoDiv .list ul li:last-child::after {
    content: "";
}



body {
    margin: 20px;
    background-color: var(--background-color);
    font-family: cursive;
    text-align: center;
}

.container {
    height: 100vh;

}

.details {
    width: 85%;
    margin: auto;
}

section * {
    margin: 0.5rem;

}

.title {
    padding: 0.5rem 1rem;
    background-color: var(--background-data-color);
    border: 2px solid var(--border-color);
    font-weight: bolder;
}

div.select-data {
    background-color: var(--background-data-color);
    border: 2px solid var(--border-color);
    padding: 0;
    margin: 0;
    width: fit-content;
    align-self: center;
}

.select-data i {
    transform: rotateY(180deg);
    color: var(--btn-color);
}

.data {

    background-color: var(--background-data-color);
    font-weight: bolder;
    border: 0;
}

input {
    outline: none;
}

#selectCountry:focus {
    border: 0;
    border-color: var(--background-data-color);
}

.select_search {
    margin-right: 0;
}

.btn_search {
    margin-left: 0;
    background-color: var(--btn-color);
    font-weight: bolder;
    padding: 0.4rem 1rem;

    border-radius: 0.4rem;
}

.row-centered {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

#countryNameDiv {
    width: 90%;
}

#myFlagImg {
    padding: 0;
    width: auto;
    height: 3rem;
}
.symbol_img {
    width:200px;
    border: none;
}

.col {
    border: 1px var(--border-col-color) solid;
    width: 50%;
}



 


  
  